@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@theme inline {


  /* Landing Theme variables removed - hardcoded in components */

  --font-rajdhani: var(--font-rajdhani);
  --font-satoshi: var(--font-satoshi);
}

:root {


  /* Landing Page Theme - Blue Scheme */
  /* Colors hardcoded in components */

  --font-rajdhani: "Rajdhani", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}



body {
  background: transparent;
  color: #171717;
  font-family: 'Satoshi', sans-serif;

  /* Global Background handled by GridBackground component */
}

::selection {
  background-color: #FF014F;
  color: #ffffff;
}

.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}